Tutorial and code followed from here  -   https://mc.ai/neural-machine-translation-using-word-level-seq2seq-model/
dataset can be downloaded from here -- https://github.com/devm2024/nmt_keras/blob/master/fra.txt

In [1]:
import pandas as pd
import numpy as np
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re
from sklearn.model_selection import train_test_split
import copy
# Building a english to french translator

In [2]:
#changes the width of cells

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [3]:
df= pd.read_csv('fra.txt',sep = '\t',names=['eng','fr'])

In [4]:
dfcopy = copy.copy(df)
#taking only 1000 as I just need to understand how it's working , for actual implementation use complete dataset

In [5]:
df.shape
#eng and fr columns
df.head()
len(df)

149861

In [6]:
df.head()
df.iloc[11705]

eng              We're here, too.
fr     Nous aussi nous sommes là.
Name: 11705, dtype: object

In [7]:
df.sample()

                                  eng                                   fr
83822  It's late, so turn off the TV.  Il est tard alors éteignez la télé.

In [8]:
df.head()

# so there was comma in eng word which was causing issue so i had to put the exception to remove it

     eng          fr
0    Go.        Va !
1   Run!     Cours !
2   Run!    Courez !
3   Wow!  Ça alors !
4  Fire!    Au feu !

In [9]:
df.eng=df.eng.apply(lambda x: x.lower())
df.fr=df.fr.apply(lambda x: x.lower())

In [10]:
df.head()

     eng          fr
0    go.        va !
1   run!     cours !
2   run!    courez !
3   wow!  ça alors !
4  fire!    au feu !

In [11]:

# Take the length as 50
df.eng=df.eng.apply(lambda x: re.sub("'", '', x)).apply(lambda x: re.sub(",", ' COMMA', x))
df.fr=df.fr.apply(lambda x: re.sub("'", '', x)).apply(lambda x: re.sub(",", ' COMMA', x))

In [12]:
#punctuations
exclude = set(string.punctuation)
df.eng=df.eng.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
df.fr=df.fr.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [13]:
remove_digits = str.maketrans('', '', digits)
df.eng=df.eng.apply(lambda x: x.translate(remove_digits))
df.fr=df.fr.apply(lambda x: x.translate(remove_digits))

In [14]:
'''
Syntax : maketrans(str1, str2, str3)

Parameters :
str1 : Specifies the list of characters that need to be replaced.
str2 : Specifies the list of characters with which the characters need to be replaced.
str3 : Specifies the list of characters that needs to be deleted.

Returns : Returns the translation table which specifies the conversions that can be used by translate()
'''

'\nSyntax : maketrans(str1, str2, str3)\n\nParameters :\nstr1 : Specifies the list of characters that need to be replaced.\nstr2 : Specifies the list of characters with which the characters need to be replaced.\nstr3 : Specifies the list of characters that needs to be deleted.\n\nReturns : Returns the translation table which specifies the conversions that can be used by translate()\n'

In [15]:
df.fr = df.fr.apply(lambda x : 'START_ '+ x + ' _END')
df.head()

    eng                     fr
0    go        START_ va  _END
1   run     START_ cours  _END
2   run    START_ courez  _END
3   wow  START_ ça alors  _END
4  fire    START_ au feu  _END

### post filteration part

In [16]:
all_eng_words=set()
for eng in df.eng:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)
    
all_french_words=set()
for fr in df.fr:
    for word in fr.split():
        if word not in all_french_words:
            all_french_words.add(word)

In [17]:
print(len(all_eng_words))
print(len(all_french_words))

13799
27980

In [28]:
fr_lenght_list=[]
for l in df.fr:
    fr_lenght_list.append(len(l.split(' ')))

eng_lenght_list=[]
for l in df.eng:
    eng_lenght_list.append(len(l.split(' ')))
print(np.max(fr_lenght_list))
print(np.max(eng_lenght_list))
max_fr = np.max(fr_lenght_list)
max_eng = np.max(eng_lenght_list)

58
49

In [29]:
input_words = sorted(list(all_eng_words))
target_words = sorted(list(all_french_words))
num_encoder_tokens = len(all_eng_words)
num_decoder_tokens = len(all_french_words)
# del all_eng_words, all_french_words

In [30]:
input_token_index = dict(
    [(word, i) for i, word in enumerate(input_words)])
target_token_index = dict(
    [(word, i) for i, word in enumerate(target_words)])

In [31]:
len(df.fr)*58*num_decoder_tokens

243200425240

encoder_input_data is a matrix of dimentions = no_of_sentences*max_sentence_length  


decoder_input_data is a matrix of dimentions = no_of_sentences*max_sentence_length  

decoder_target_data is a matrix of dimensions = no_of_sentences*max_sentence_length*no_of_distinct_words

In [32]:
print(len(df.fr),num_decoder_tokens)

149861 27980

In [33]:

encoder_input_data = np.zeros(
    (len(df.eng),max_eng ),
    dtype='float32')
decoder_input_data = np.zeros(
    (len(df.fr), max_fr),
    dtype='float32')
decoder_target_data = np.zeros(
    (len(df.fr), max_fr, num_decoder_tokens),
    dtype='float32')

MemoryError:

In [ ]:

for i, (input_text, target_text) in enumerate(zip(df.eng, df.fr)):
    for t, word in enumerate(input_text.split()):
        encoder_input_data[i, t] = input_token_index[word]
    for t, word in enumerate(target_text.split()):
        # decoder_target_data is ahead of decoder_input_data by one timestep
        decoder_input_data[i, t] = target_token_index[word]
        if t > 0:
            # decoder_target_data will be ahead by one timestep
            # and will not include the start character.
            decoder_target_data[i, t - 1, target_token_index[word]] = 1.

## The model making part

In [ ]:
embedding_size = 50
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model
from keras.utils import plot_model

<b>Encoder Model</b>

In [ ]:
encoder_inputs = Input(shape = (None,))
encoder_embeddings = Embedding(num_encoder_tokens,embedding_size)(encoder_inputs)
E_LSTM = LSTM(50,return_state=True)
encoder_output , hidden_state , memory_cell = E_LSTM(encoder_embeddings)
encoder_states = [hidden_state,memory_cell]

<b> Decoder Model </b>

In [ ]:
decoder_inputs = Input(shape = (None,))
decoder_embeddings = Embedding(num_decoder_tokens,embedding_size)
final_dex = decoder_embeddings(decoder_inputs)
decoder_LSTM = LSTM(50,return_sequences=True,return_state=True)
decoder_outputs ,_ , _ = decoder_LSTM(final_dex, initial_state = encoder_states)
decoder_dense = Dense(num_decoder_tokens,activation='softmax') # total no of unique words
decoder_outputs = decoder_dense(decoder_outputs)

model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['acc'])

In [ ]:
model.summary()

In [ ]:

model.fit([encoder_input_data, decoder_input_data], decoder_target_data,
          batch_size=128,
          epochs=20,
          validation_split=0.05)

In [ ]:
encoder_model = Model(encoder_inputs, encoder_states)
encoder_model.summary()